{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Дашборд v2</title>
    <link rel="stylesheet" href="https://cdn.bokeh.org/bokeh/release/bokeh-2.4.3.min.css" type="text/css">
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.4.3.min.js"></script>
</head>
<body>
    <h1>Дашборд v2 - Графіки</h1>
        <form method="get">
            {{ form.as_p }}
            <button type="submit">Фільтрувати</button>
        </form>

        <div>
            {% for script, div in graphs %}
                {{ script|safe }}
                {{ div|safe }}
            {% endfor %}
        </div>

</body>
</html>
{% endblock %}